@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
}
main {
    padding: 0 3rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container figure {
    width: 17rem;
    padding: 2rem 4rem;
    box-sizing: border-box;
    cursor: pointer;
}

.chosen img {
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
}

#container img {
    width: 100%;
}

section {
    text-align: center;
}

