main {
    padding: 0 3rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

#container figure {
    width: 20%;
    padding: 1rem 4rem;
    box-sizing: border-box;
}

#container img {
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

.chosen img {
    border-radius: 2rem;
    box-shadow: 0 0 1rem black;
}

section {
    text-align: center;
}
input[type="submit"] {
    box-shadow: 0 0 0 0.3rem #BC3334;
    border: 0.2rem solid white;
    background-color: #BC3334;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    margin: 20px auto;
    display: block;
    text-align: center;
}

input[type="submit"]:hover{
    background: #900000;
    cursor: pointer;
}

