@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    width: 100%;
    margin: auto auto;
    /*background-color: #BFDBAE;*/
    background-image: url("../media/background.png");
    background-blend-mode: soft-light;
    font-family: 'Fredoka One', cursive;

}

.hidden {
    visibility: hidden;
}

#gridbox {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "c"
            "np"
            "p";
    text-align: center;

    margin: 1rem 2rem;
    width: 95vw;         /* THESE VALUES ARE TEMPORARY UNTIL A BETER SOLUTION IS FOUND TO KEEP SCREEN HEIGHT RIGHT */
    height: 89vh;

}

#card, #current-position, #alert {
    background-color: rgba(200,200,200 ,0.20);
    box-shadow: 0 0 5rem rgba(200,200,200 ,1);

    padding: 1rem;
    width: 25rem;
}


#current-container {
    grid-area: c;
}

#current-container p {
    text-align: center;
    margin-bottom: 2rem;
}

#current-container div {
    grid-area: c;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    height: 15rem;
    max-height: 15rem;
}

#next-positions-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    grid-area: np;
    align-self: end;
}

.position div:nth-of-type(1) {
    margin-bottom: 1rem;
}

.position  {
    background-color: rgba(200,200,200 ,0.10);
    box-shadow: 0 0 5rem rgba(200,200,200 ,1);

    height: 10rem;
    max-height: 10rem;
}

#players-container {
    grid-area: p;
    display: flex;
    align-self: end;
    justify-content: space-around;
}

#players-container div {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-between;
    background-color: rgba(200,200,200 ,0.20);
    box-shadow: 0 0 5rem rgba(200,200,200 ,1);
    width: 8.5rem;
}
