header h3 {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: "verdana", sans-serif;
    font-weight: bold;
    font-size: 0.5rem;
}

main {
    display: flex;
    justify-content: center;
}

.player {
    background-color: lightgray;
    width: 7rem;
    height: 7rem;
    margin: 2rem 2rem 4rem 2rem;
    text-align: center;
    border: 0.1rem solid black;
}

.player h2 {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.player p {
    padding-top: 30%;
}
.player #host h2 {
    color: red;
}

