header h2
{
    margin-left: 47%;
}

header h3 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: "verdana", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
main .amountOfPlayers
{
    text-align: center;
    font-weight: bold;
}
.players {
    display: flex;
    justify-content: center;

}

.player {

    background-image: url("../media/lobbyuser.png");
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: top center;

    background-color: lightgray;
    width: 9rem;
    height: 9rem;
    margin: 2rem 2rem 4rem 2rem;
    text-align: center;
    border: 0.1rem solid black;
}

.player h2 {
    padding-top: 65%;
    font-weight: bold;
}

