body {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: black;
    background-color: #BFDBAE;
}
header {
    background-color: #8FBC72;
    padding: 0.5rem;
    margin-bottom: 1rem;

    background-image: url("../media/monopoly_logo_edition.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center left;
}

header img {
    margin: auto;
    height: 5rem;
}
header h2 {
    padding-top: 2rem;
    text-align: center;
    font-family: "verdana", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
header h3 {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: "verdana", sans-serif;
    font-weight: bold;
    font-size: 0.5rem;
}

main {
    display: flex;
    justify-content: center;
}

.player {
    background-color: lightgray;
    width: 7rem;
    height: 7rem;
    margin: 2rem 2rem 4rem 2rem;
    text-align: center;
    border: 0.1rem solid black;
}

.player h2 {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.player p {
    padding-top: 30%;
}
#host h2 {
    color: red;
}

button {
    color: white;
    background: #C70000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    box-shadow: 0 0 1rem black;
    margin: 0 46%;
    width: 7rem;
}

button:hover {
    background: #900000;
    cursor: pointer;
}