<<<<<<< HEAD
body {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: black;
    background-color: #BFDBAE;
}

header {
    background-color: #8FBC72;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;

    background-image: url("../media/monopoly_logo_edition.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center left;
}

header img {
    height: 5rem;
}

header h2 {
    font-size: 2rem;
    margin: auto;
}

button {
    color: white;
    background: #C70000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    box-shadow: 0 0 1rem black;
    margin: 0 50%;
}

button:hover {
    background: #900000;
    cursor: pointer;
}
=======
body {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: black;
    background-color: #BFDBAE;
}

header {
    background-color: #8FBC72;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;

    background-image: url("../media/monopoly_logo_edition.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center left;
}

header img {
    height: 5rem;
}

header h2 {
    font-size: 2rem;
    margin: auto;
}

button {
    color: white;
    background: #C70000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    box-shadow: 0 0 1rem black;
    margin: 0 50%;
}

button:hover {
    background: #900000;
    cursor: pointer;
}
>>>>>>> 4c8367ed678bb975887ab181402dc4998cde6327
