@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;
    color: black;
    background-color: #BFDBAE;
}

header {
    background-color: #8FBC72;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;

    background-image: url("../media/monopoly_logo_edition.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center left;
}

header img {
    height: 5rem;
}

header h2 {
    font-size: 2rem;
    margin: auto;
}

button, input[type="submit"] {
    color: white;
    background: #C70000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    box-shadow: 0 0 1rem black;
    margin: 0 50%;
}

button:hover, input[type="submit"]:hover {
    background: #900000;
    cursor: pointer;
}
