@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}

.card{
    background: white;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card .content{
    width: 85%;
    height: 85%;
    border: 0.2rem solid black;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .content .title{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border: 0.2rem solid black;
}

.card .content #rent{
    margin-top: 0.625rem;
}

.card .content .details{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    align-items: center;
}

.card .content .details .rents{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    margin: 0.0635rem;
}

.card .content .extra{
    width: 55%;
    margin-top: 0.375rem;
    text-align: center;
}

.card .content #double{
    width: 70%;
    font-size: 0.3rem;
    text-align: center;
}

/* COLORS */
.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.lightblue {
    background-color: lightblue;
}

.violet {
    background-color: violet;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.darkgreen {
    background-color: darkgreen;
    color: white;
}

.darkblue {
    background-color: darkblue;
    color: white;
}

