.player-properties {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
            ".             .           .                   .           .               .              .              .          short-line-rr         ."
            ".             connecticut virginia            new-york    illinois-avenue marvin-gardens pennsylvania   .          baltimore-and-ohio-rr ."
            "baltic        vermont     states              tennessee   indiana-avenue  ventnor        north-carolina boardwalk  pennsylvania-rr       water-works"
            "mediterranean oriental    saint-charles-place saint-james kentucky-avenue atlantic       pacific        park-place reading-rr            electric-company";

    height: 4rem;
    width: 10rem;
    gap: 0.2rem;
    justify-content: center;

    padding: 0.5rem;

}

.info-container .not-bought {
    background-color: #979797
}
.info-container .mortgaged {
    opacity: 0.4;
}

.mediterranean {
    grid-area: mediterranean;
    background-color: saddlebrown
}

.baltic {
    grid-area: baltic;
    background-color: saddlebrown
}

.oriental {
    grid-area: oriental;
    background-color: lightblue;
}

.vermont {
    grid-area: vermont;
    background-color: lightblue;
}

.connecticut {
    grid-area: connecticut;
    background-color: lightblue;
}

.saint-charles-place {
    grid-area: saint-charles-place;
    background-color: purple
}

.states {
    grid-area: states;
    background-color: purple
}

.virginia {
    grid-area: virginia;
    background-color: purple
}

.saint-james {
    grid-area: saint-james;
    background-color: orange
}

.tennessee {
    grid-area: tennessee;
    background-color: orange
}

.new-york {
    grid-area: new-york;
    background-color: orange
}

.kentucky-avenue {
    grid-area: kentucky-avenue;
    background-color: red
}

.indiana-avenue {
    grid-area: indiana-avenue;
    background-color: red
}

.illinois-avenue {
    grid-area: illinois-avenue;
    background-color: red
}

.atlantic {
    grid-area: atlantic;
    background-color: yellow
}

.ventnor {
    grid-area: ventnor;
    background-color: yellow
}

.marvin-gardens {
    grid-area: marvin-gardens;
    background-color: yellow
}

.pacific {
    grid-area: pacific;
    background-color: green
}

.north-carolina {
    grid-area: north-carolina;
    background-color: green
}

.pennsylvania {
    grid-area: pennsylvania;
    background-color: green
}

.park-place {
    grid-area: park-place;
    background-color: darkblue
}

.boardwalk {
    grid-area: boardwalk;
    background-color: darkblue
}

.reading-rr {
    grid-area: reading-rr;
    background-color: black
}

.pennsylvania-rr {
    grid-area: pennsylvania-rr;
    background-color: black
}

.baltimore-and-ohio-rr {
    grid-area: baltimore-and-ohio-rr;
    background-color: black
}

.short-line-rr {
    grid-area: short-line-rr;
    background-color: black
}

.electric-company {
    grid-area: electric-company;
    background-color: white
}

.water-works {
    grid-area: water-works;
    background-color: white
}